<div class="bg-body-secondary p-4">
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-light">The Ticket Eventing System leverages multithreading to handle simultaneous ticket bookings, ensuring smooth and efficient processing even under high demand. By using threads to manage different tasks (like ticket purchases, updates, and notifications), the system provides real-time updates on available tickets, without slowing down or freezing. Built with Object-Oriented Programming (OOP) principles, the system ensures modularity, maintainability, and scalability. Each component, from ticket management to user interactions, is encapsulated in its own class, promoting clean code and the ability to easily extend or modify features as needed.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Ticket Eventing System</strong>
        </a>
        <!-- Corrected data-bs-toggle and data-bs-target -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  

  <div class="container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Real Time Ticket Booking System</h1>
        <p class="lead text-muted">You can expericnes Real Time ticket booking System experince in here,all <br>are powered by Multithreading and built with OOP for Scalability</p>
      </div>
    </section>
    <div class="row justify-content-center align-items-start">
      <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
        <app-bootst></app-bootst>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <app-startstopbox></app-startstopbox>
        <app-logger-card></app-logger-card>
      </div>
    </div>
  </div>
</div>